<h1>All Super Clubs</h1>

<div>
    <%= button_to "Add a Super Club", new_super_club_clubs_path, method: :get, class: "btn btn-primary" %>

</div>

<table>
    <thead>
        <tr>
            <th>Club Name</th>
            <th>Budget</th>
        </tr>
    </thead>
    <tbody>
        <% @clubs.each do |club| %>
        <tr onclick="window.location='<%= show_children_club_path(club) %>'" style="cursor: pointer;">
            <td><%= club.Club_Name %></td>
            <td><%= club.Budget %></td>
        </tr>
        <% end %>
    </tbody>
</table>