<h1>All Super Clubs</h1>
<table>
    <thead>
        <tr>
            <th>Club ID</th>
            <th>Club Name</th>
            <th>Budget</th>
        </tr>
    </thead>
    <tbody>
        <% @clubs.each do |club| %>
        <tr onclick="window.location='<%= show_children_club_path(club) %>'" style="cursor: pointer;">
            <td><%= club.Club_ID %></td>
            <td><%= club.Club_Name %></td>
            <td><%= club.Budget %></td>
        </tr>
        <% end %>
    </tbody>
</table>