<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Equipment</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
<header>
</header>

<main>
  <div class="overlay" id="overlay">
    <div class="overlay-content">
      <h1>Edit Equipment</h1>
      <%= render "form", equipment: @equipment %>
    </div>
  </div>
</main>
</body>
</html>
