<!-- app/views/auth/PIC/borrowed_items.html.erb -->
<h1>Borrowed Items</h1>

<%= render 'auth/PIC/sidebar' %>

<div class="main-content">
  <p>Welcome to the Borrowed Items section. Here are the items borrowed by your club:</p>
</div>
