<!-- Total Expenses Section -->
<div>
  <h2>Total Expenses</h2>
  <p><%= number_to_currency(@total_super_club_expenses, unit: "RM") %></p>
</div>

<% if @super_club_expenses.any? %>
  <!-- Super Club Cards Section -->
  <div>
    <% @super_club_expenses.each do |club_name, total_expenses| %>
      <div>
      <h3><%= club_name %></h3>
      <p><%= number_to_currency(total_expenses, unit: "RM") %></p>
      <%= link_to "View Expenses", all_super_expenses_financial_record_path(Club.find_by(Club_Name: club_name)), class: "btn btn-primary" %>
      </div>
   <% end %>
  </div>
<% else %>
  <p>No super club expenses to display.</p>
<% end %>