:root {
  --Background: #072326;
  --Highlight-Color: #ccf2c2;
}

body {
  background-color: var(--Background);
  color: white;
  padding: 60px 10px 10px 10px;
}

.clubsContainer {
  display: flex;
  justify-content: start;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

.clubsContainer .club {
  width: 340px;
  border: 1px solid var(--Highlight-Color);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  transition: background-color 0.3s;
}

.clubsContainer .club:hover {
  background-color: rgb(0, 79, 88);
}

.clubsContainer .club:last-child {
  background-color: var(--Highlight-Color);
  color: var(--Background);
  justify-content: center;
}

.budget {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: var(--Highlight-Color, #ccf2c2);
  border-radius: 15px;
  color: var(--Background, #072326);

  /* Desktop Body */
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 10px;
}
.budget h2 {
  color: var(--Background, #072326);

  /* Desktop Body */
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin: 0px;
  padding: 0px;
}

.budgetNumber p {
  color: var(--Text-Color, #f5f5f5);

  /* Desktop H1 */
  font-family: Cabin;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  padding: 0px;
}

.clubDetails {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  gap: 10px;
}

.clubDetails p,
.clubDetails h2 {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}

.clubDetails p {
  font-weight: 100;
}

.budgetDiv {
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .clubsContainer {
    justify-content: center;
  }

  body {
    padding-top: 40px;
  }

  .budgetDiv {
    margin-bottom: 60px;
  }
}
