:root {
  --Background: #072326;
  --Highlight-Color: #ccf2c2;
  --Third-Color: #eef26b;
}

body {
  background-color: var(--Background);
  color: white;
  padding: 60px 10px 10px 10px;
}

.clubsContainer {
  display: flex;
  justify-content: start;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

.clubsContainer .club {
  width: 340px;
  border: 1px solid var(--Highlight-Color);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  transition: background-color 0.3s;
  height: 80px;
}

.clubsContainer .club:hover {
  background-color: rgb(0, 79, 88);
}

.clubsContainer .club:last-child {
  background-color: var(--Highlight-Color);
  color: var(--Background);
  justify-content: center;
}

.budget {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: var(--Highlight-Color, #ccf2c2);
  border-radius: 15px;
  color: var(--Background, #072326);

  /* Desktop Body */
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  margin-bottom: 10px;
}
.budget h2 {
  color: var(--Background, #072326);

  /* Desktop Body */
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin: 0px;
  padding: 0px;
}

.budgetNumber p {
  color: var(--Text-Color, #f5f5f5);

  /* Desktop H1 */
  font-family: Cabin;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  padding: 0px;
}

.clubDetails {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  gap: 10px;
}

.clubDetails p,
.clubDetails h2 {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}

.clubDetails p {
  font-weight: 100;
}

.budgetDiv {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .clubsContainer {
    justify-content: center;
  }

  body {
    padding-top: 40px;
  }

  .budgetDiv {
    margin-bottom: 60px;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 50px;
}

button,
a {
  padding: 15px;
  border-radius: 60px;
}

h2 {
  margin-bottom: 40px;
}

button,
a {
  border-radius: 15px;
  background-color: transparent;
  background-color: var(--Third-Color);
  color: white;
  cursor: pointer;
  color: var(--Background);
  transition: background-color 0.3s;
  border: none !important;
  font-weight: bold;
  text-decoration: none;
}

button:hover,
a:hover {
  background-color: var(--Highlight-Color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.341);
}

.modal-content {
  background-color: black;
  margin: 20% auto 0px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  height: 300px;
  border-radius: 14px;
  background-color: var(--Background);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: middle;
  vertical-align: middle;
  justify-content: center;
  background-color: var(--Background) !important;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal p,
.modal h2 {
  text-align: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  display: flex;
  position: absolute;
  align-self: flex-end;
  transform: translate(35px, -170px);
  background-color: var(--Third-Color);
  padding: 5px 15px;
  border-radius: 60px;
  color: var(--Background);
}

.modal a {
  margin-top: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
